:root {
  --sys-font-display-display-large-font-size: 60px;
  --sys-font-display-display-large-text-decoration: none;
  --sys-font-display-display-large-font-family: Inter;
  --sys-font-display-display-large-font-weight: 600;
  --sys-font-display-display-large-font-style: normal;
  --sys-font-display-display-large-font-stretch: normal;
  --sys-font-display-display-large-letter-spacing: -2.4px;
  --sys-font-display-display-large-line-height: 72;
  --sys-font-display-display-large-paragraph-indent: 0px;
  --sys-font-display-display-large-paragraph-spacing: 0px;
  --sys-font-display-display-large-text-case: none;
  --sys-font-display-display-medium-font-size: 45px;
  --sys-font-display-display-medium-text-decoration: none;
  --sys-font-display-display-medium-font-family: Inter;
  --sys-font-display-display-medium-font-weight: 600;
  --sys-font-display-display-medium-font-style: normal;
  --sys-font-display-display-medium-font-stretch: normal;
  --sys-font-display-display-medium-letter-spacing: -1.8px;
  --sys-font-display-display-medium-line-height: 54;
  --sys-font-display-display-medium-paragraph-indent: 0px;
  --sys-font-display-display-medium-paragraph-spacing: 0px;
  --sys-font-display-display-medium-text-case: none;
  --sys-font-display-display-small-font-size: 36px;
  --sys-font-display-display-small-text-decoration: none;
  --sys-font-display-display-small-font-family: Inter;
  --sys-font-display-display-small-font-weight: 600;
  --sys-font-display-display-small-font-style: normal;
  --sys-font-display-display-small-font-stretch: normal;
  --sys-font-display-display-small-letter-spacing: -1.44px;
  --sys-font-display-display-small-line-height: 44;
  --sys-font-display-display-small-paragraph-indent: 0px;
  --sys-font-display-display-small-paragraph-spacing: 0px;
  --sys-font-display-display-small-text-case: none;
  --sys-font-headline-headline-large-font-size: 32px;
  --sys-font-headline-headline-large-text-decoration: none;
  --sys-font-headline-headline-large-font-family: Inter;
  --sys-font-headline-headline-large-font-weight: 600;
  --sys-font-headline-headline-large-font-style: normal;
  --sys-font-headline-headline-large-font-stretch: normal;
  --sys-font-headline-headline-large-letter-spacing: -0.48px;
  --sys-font-headline-headline-large-line-height: 40;
  --sys-font-headline-headline-large-paragraph-indent: 0px;
  --sys-font-headline-headline-large-paragraph-spacing: 0px;
  --sys-font-headline-headline-large-text-case: none;
  --sys-font-headline-headline-medium-font-size: 28px;
  --sys-font-headline-headline-medium-text-decoration: none;
  --sys-font-headline-headline-medium-font-family: Inter;
  --sys-font-headline-headline-medium-font-weight: 600;
  --sys-font-headline-headline-medium-font-style: normal;
  --sys-font-headline-headline-medium-font-stretch: normal;
  --sys-font-headline-headline-medium-letter-spacing: -0.28px;
  --sys-font-headline-headline-medium-line-height: 34;
  --sys-font-headline-headline-medium-paragraph-indent: 0px;
  --sys-font-headline-headline-medium-paragraph-spacing: 0px;
  --sys-font-headline-headline-medium-text-case: none;
  --sys-font-headline-headline-small-font-size: 24px;
  --sys-font-headline-headline-small-text-decoration: none;
  --sys-font-headline-headline-small-font-family: Inter;
  --sys-font-headline-headline-small-font-weight: 600;
  --sys-font-headline-headline-small-font-style: normal;
  --sys-font-headline-headline-small-font-stretch: normal;
  --sys-font-headline-headline-small-letter-spacing: -0.24px;
  --sys-font-headline-headline-small-line-height: 30;
  --sys-font-headline-headline-small-paragraph-indent: 0px;
  --sys-font-headline-headline-small-paragraph-spacing: 0px;
  --sys-font-headline-headline-small-text-case: none;
  --sys-font-title-title-large-font-size: 22px;
  --sys-font-title-title-large-text-decoration: none;
  --sys-font-title-title-large-font-family: Inter;
  --sys-font-title-title-large-font-weight: 600;
  --sys-font-title-title-large-font-style: normal;
  --sys-font-title-title-large-font-stretch: normal;
  --sys-font-title-title-large-letter-spacing: -0.11px;
  --sys-font-title-title-large-line-height: 28;
  --sys-font-title-title-large-paragraph-indent: 0px;
  --sys-font-title-title-large-paragraph-spacing: 0px;
  --sys-font-title-title-large-text-case: none;
  --sys-font-title-tile-medium-font-size: 16px;
  --sys-font-title-tile-medium-text-decoration: none;
  --sys-font-title-tile-medium-font-family: Inter;
  --sys-font-title-tile-medium-font-weight: 600;
  --sys-font-title-tile-medium-font-style: normal;
  --sys-font-title-tile-medium-font-stretch: normal;
  --sys-font-title-tile-medium-letter-spacing: -0.04px;
  --sys-font-title-tile-medium-line-height: 24;
  --sys-font-title-tile-medium-paragraph-indent: 0px;
  --sys-font-title-tile-medium-paragraph-spacing: 0px;
  --sys-font-title-tile-medium-text-case: none;
  --sys-font-title-title-small-font-size: 14px;
  --sys-font-title-title-small-text-decoration: none;
  --sys-font-title-title-small-font-family: Inter;
  --sys-font-title-title-small-font-weight: 500;
  --sys-font-title-title-small-font-style: normal;
  --sys-font-title-title-small-font-stretch: normal;
  --sys-font-title-title-small-letter-spacing: -0.07px;
  --sys-font-title-title-small-line-height: 20;
  --sys-font-title-title-small-paragraph-indent: 0px;
  --sys-font-title-title-small-paragraph-spacing: 0px;
  --sys-font-title-title-small-text-case: none;
  --sys-font-body-body-large-font-size: 16px;
  --sys-font-body-body-large-text-decoration: none;
  --sys-font-body-body-large-font-family: Inter;
  --sys-font-body-body-large-font-weight: 500;
  --sys-font-body-body-large-font-style: normal;
  --sys-font-body-body-large-font-stretch: normal;
  --sys-font-body-body-large-letter-spacing: -0.152px;
  --sys-font-body-body-large-line-height: 24;
  --sys-font-body-body-large-paragraph-indent: 0px;
  --sys-font-body-body-large-paragraph-spacing: 0px;
  --sys-font-body-body-large-text-case: none;
  --sys-font-body-body-medium-font-size: 14px;
  --sys-font-body-body-medium-text-decoration: none;
  --sys-font-body-body-medium-font-family: Inter;
  --sys-font-body-body-medium-font-weight: 500;
  --sys-font-body-body-medium-font-style: normal;
  --sys-font-body-body-medium-font-stretch: normal;
  --sys-font-body-body-medium-letter-spacing: 0px;
  --sys-font-body-body-medium-line-height: 20;
  --sys-font-body-body-medium-paragraph-indent: 0px;
  --sys-font-body-body-medium-paragraph-spacing: 0px;
  --sys-font-body-body-medium-text-case: none;
  --sys-font-body-body-small-font-size: 12px;
  --sys-font-body-body-small-text-decoration: none;
  --sys-font-body-body-small-font-family: Inter;
  --sys-font-body-body-small-font-weight: 500;
  --sys-font-body-body-small-font-style: normal;
  --sys-font-body-body-small-font-stretch: normal;
  --sys-font-body-body-small-letter-spacing: -0.096px;
  --sys-font-body-body-small-line-height: 16;
  --sys-font-body-body-small-paragraph-indent: 0px;
  --sys-font-body-body-small-paragraph-spacing: 0px;
  --sys-font-body-body-small-text-case: none;
  --sys-font-label-label-large-font-size: 14px;
  --sys-font-label-label-large-text-decoration: none;
  --sys-font-label-label-large-font-family: Inter;
  --sys-font-label-label-large-font-weight: 500;
  --sys-font-label-label-large-font-style: normal;
  --sys-font-label-label-large-font-stretch: normal;
  --sys-font-label-label-large-letter-spacing: -0.119px;
  --sys-font-label-label-large-line-height: 20;
  --sys-font-label-label-large-paragraph-indent: 0px;
  --sys-font-label-label-large-paragraph-spacing: 0px;
  --sys-font-label-label-large-text-case: none;
  --sys-font-label-label-medium-font-size: 12px;
  --sys-font-label-label-medium-text-decoration: none;
  --sys-font-label-label-medium-font-family: Inter;
  --sys-font-label-label-medium-font-weight: 500;
  --sys-font-label-label-medium-font-style: normal;
  --sys-font-label-label-medium-font-stretch: normal;
  --sys-font-label-label-medium-letter-spacing: -0.06px;
  --sys-font-label-label-medium-line-height: 16;
  --sys-font-label-label-medium-paragraph-indent: 0px;
  --sys-font-label-label-medium-paragraph-spacing: 0px;
  --sys-font-label-label-medium-text-case: none;
  --sys-font-label-label-small-font-size: 11px;
  --sys-font-label-label-small-text-decoration: none;
  --sys-font-label-label-small-font-family: Inter;
  --sys-font-label-label-small-font-weight: 500;
  --sys-font-label-label-small-font-style: normal;
  --sys-font-label-label-small-font-stretch: normal;
  --sys-font-label-label-small-letter-spacing: -0.055px;
  --sys-font-label-label-small-line-height: 16;
  --sys-font-label-label-small-paragraph-indent: 0px;
  --sys-font-label-label-small-paragraph-spacing: 0px;
  --sys-font-label-label-small-text-case: none;
  --sys-primitive-color-collection-key-color-group-primary-key-color: #0062ccff;
  --sys-primitive-color-collection-key-color-group-secondary-key-color: #ff6b35ff;
  --sys-primitive-color-collection-key-color-group-tertiary-key-color: #008f7aff;
  --sys-primitive-color-collection-key-color-group-neutral-key-color: #464141ff;
  --sys-primitive-color-collection-key-color-group-neutral-variant-key-color: #6b7280ff;
  --sys-primitive-color-collection-key-color-group-accent-key-color: #dfff00ff;
  --sys-primitive-color-collection-key-color-group-error-key-color: #ff0000ff;
  --sys-primitive-color-collection-key-color-group-warning-key-color: #f59e0bff;
  --sys-primitive-color-collection-key-color-group-success-key-color: #16a34aff;
  --sys-primitive-color-collection-color-palette-primary-primary-0: #000000ff;
  --sys-primitive-color-collection-color-palette-primary-primary-10: #001933ff;
  --sys-primitive-color-collection-color-palette-primary-primary-20: #003166ff;
  --sys-primitive-color-collection-color-palette-primary-primary-30: #004a99ff;
  --sys-primitive-color-collection-color-palette-primary-primary-40: #0062ccff;
  --sys-primitive-color-collection-color-palette-primary-primary-50: #007bffff;
  --sys-primitive-color-collection-color-palette-primary-primary-60: #3395ffff;
  --sys-primitive-color-collection-color-palette-primary-primary-70: #66afffff;
  --sys-primitive-color-collection-color-palette-primary-primary-80: #99caffff;
  --sys-primitive-color-collection-color-palette-primary-primary-90: #cce4ffff;
  --sys-primitive-color-collection-color-palette-primary-primary-95: #e0efffff;
  --sys-primitive-color-collection-color-palette-primary-primary-98: #ebf4ffff;
  --sys-primitive-color-collection-color-palette-primary-primary-99: #f5faffff;
  --sys-primitive-color-collection-color-palette-primary-primary-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-0: #000000ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-10: #330e00ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-20: #661b00ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-30: #992900ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-40: #cc3700ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-50: #ff4400ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-60: #ff6b35ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-70: #ff8f66ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-80: #ffb499ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-90: #ffdaccff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-95: #ffe9e0ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-98: #fff0ebff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-99: #fff8f5ff;
  --sys-primitive-color-collection-color-palette-secondary-secondary-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-0: #ffffffff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-10: #00332cff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-20: #006657ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-30: #009983ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-40: #00ccaeff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-50: #00e0bfff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-60: #33ffe1ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-70: #66ffe9ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-80: #99fff0ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-90: #ccfff8ff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-95: #e0fffbff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-98: #ebfffcff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-99: #f5fffeff;
  --sys-primitive-color-collection-color-palette-tertiary-tertiary-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-0: #000000ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-10: #1a1919ff;
  --sys-primitive-color-collection-color-palette-neutral-neural-20: #353131ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-30: #4f4a4aff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-40: #6a6262ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-50: #847b7bff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-60: #9d9595ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-70: #b5b0b0ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-80: #cecacaff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-90: #e6e5e5ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-95: #f0efefff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-98: #f5f4f4ff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-99: #fafafaff;
  --sys-primitive-color-collection-color-palette-neutral-neutral-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-0: #000000ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-10: #17191cff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-20: #2e3138ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-30: #464a53ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-40: #5d636fff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-50: #747c8bff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-60: #9096a2ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-70: #acb0b9ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-80: #c7cad1ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-90: #e3e5e8ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutal-v-95: #eeeff1ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-98: #f4f4f6ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-99: #fefff5ff;
  --sys-primitive-color-collection-color-palette-neutral-v-neutral-v-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-accent-accent-0: #000000ff;
  --sys-primitive-color-collection-color-palette-accent-accent-10: #2d3300ff;
  --sys-primitive-color-collection-color-palette-accent-accent-20: #596600ff;
  --sys-primitive-color-collection-color-palette-accent-accent-30: #b2cc00ff;
  --sys-primitive-color-collection-color-palette-accent-accent-40: #b2cc00ff;
  --sys-primitive-color-collection-color-palette-accent-accent-50: #c9e500ff;
  --sys-primitive-color-collection-color-palette-accent-accent-60: #e5ff33ff;
  --sys-primitive-color-collection-color-palette-accent-accent-70: #ecff66ff;
  --sys-primitive-color-collection-color-palette-accent-accent-80: #f2ff99ff;
  --sys-primitive-color-collection-color-palette-accent-accent-90: #f9ffccff;
  --sys-primitive-color-collection-color-palette-accent-accent-95: #fbffe0ff;
  --sys-primitive-color-collection-color-palette-accent-accent-98: #fcffebff;
  --sys-primitive-color-collection-color-palette-accent-acceent-99: #fefff5ff;
  --sys-primitive-color-collection-color-palette-accent-accent-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-error-error: #000000ff;
  --sys-primitive-color-collection-color-palette-error-error-10: #330000ff;
  --sys-primitive-color-collection-color-palette-error-error-20: #660000ff;
  --sys-primitive-color-collection-color-palette-error-error-30: #990000ff;
  --sys-primitive-color-collection-color-palette-error-error-40: #cc0000ff;
  --sys-primitive-color-collection-color-palette-error-error-50: #ff0000ff;
  --sys-primitive-color-collection-color-palette-error-error-60: #ff3333ff;
  --sys-primitive-color-collection-color-palette-error-error-70: #ff6666ff;
  --sys-primitive-color-collection-color-palette-error-error-80: #ff9999ff;
  --sys-primitive-color-collection-color-palette-error-error-90: #ffccccff;
  --sys-primitive-color-collection-color-palette-error-error-95: #ffe5e5ff;
  --sys-primitive-color-collection-color-palette-error-error-98: #fff5f5ff;
  --sys-primitive-color-collection-color-palette-error-error-99: #fffafaff;
  --sys-primitive-color-collection-color-palette-error-error-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-warning-warning-0: #000000ff;
  --sys-primitive-color-collection-color-palette-warning-warning-10: #312002ff;
  --sys-primitive-color-collection-color-palette-warning-warning-20: #623f04ff;
  --sys-primitive-color-collection-color-palette-warning-warning-30: #935f06ff;
  --sys-primitive-color-collection-color-palette-warning-warning-40: #c47e08ff;
  --sys-primitive-color-collection-color-palette-warning-warning-50: #f59e0bff;
  --sys-primitive-color-collection-color-palette-warning-warning-60: #f7b13bff;
  --sys-primitive-color-collection-color-palette-warning-warning-70: #f9c56cff;
  --sys-primitive-color-collection-color-palette-warning-warning-80: #fbd89dff;
  --sys-primitive-color-collection-color-palette-warning-warning-90: #fdecceff;
  --sys-primitive-color-collection-color-palette-warning-warning-95: #fef3e2ff;
  --sys-primitive-color-collection-color-palette-warning-warning-98: #fef7ebff;
  --sys-primitive-color-collection-color-palette-warning-warning-99: #fffbf5ff;
  --sys-primitive-color-collection-color-palette-warning-warning-100: #ffffffff;
  --sys-primitive-color-collection-color-palette-success-success-0: #000000ff;
  --sys-primitive-color-collection-color-palette-success-sucess-10: #062d14ff;
  --sys-primitive-color-collection-color-palette-success-success-20: #0c5a29ff;
  --sys-primitive-color-collection-color-palette-success-success-30: #12873dff;
  --sys-primitive-color-collection-color-palette-success-success-40: #18b452ff;
  --sys-primitive-color-collection-color-palette-success-success-50: #1ee166ff;
  --sys-primitive-color-collection-color-palette-success-success-60: #4be785ff;
  --sys-primitive-color-collection-color-palette-success-success-70: #78eda3ff;
  --sys-primitive-color-collection-color-palette-success-success-80: #a5f3c2ff;
  --sys-primitive-color-collection-color-palette-success-success-90: #d2f9e0ff;
  --sys-primitive-color-collection-color-palette-success-success-95: #e4fbedff;
  --sys-primitive-color-collection-color-palette-success-success-98: #edfdf3ff;
  --sys-primitive-color-collection-color-palette-success-success-99: #f6fef9ff;
  --sys-primitive-color-collection-color-palette-success-success-100: #ffffffff;
  --sys-color-roles-roles-primary-role-primary: var(--sys-primitive-color-collection-color-palette-primary-primary-30);
  --sys-color-roles-roles-primary-role-on-primary: var(--sys-primitive-color-collection-color-palette-primary-primary-100);
  --sys-color-roles-roles-primary-role-primary-container: var(--sys-primitive-color-collection-color-palette-primary-primary-90);
  --sys-color-roles-roles-primary-role-on-primary-container: var(--sys-primitive-color-collection-color-palette-primary-primary-10);
  --sys-color-roles-roles-primary-role-inverse-primary: var(--sys-primitive-color-collection-color-palette-primary-primary-80);
  --sys-color-roles-roles-primary-role-surface-tint: var(--sys-primitive-color-collection-color-palette-primary-primary-40);
  --sys-color-roles-roles-primary-role-primary-fixed: var(--sys-primitive-color-collection-color-palette-primary-primary-40);
  --sys-color-roles-roles-primary-role-primary-fixed-dim: var(--sys-primitive-color-collection-color-palette-primary-primary-30);
  --sys-color-roles-roles-primary-role-on-primary-fixed: var(--sys-primitive-color-collection-color-palette-primary-primary-100);
  --sys-color-roles-roles-primary-role-on-primary-fixed-variant: var(--sys-primitive-color-collection-color-palette-primary-primary-90);
  --sys-color-roles-roles-secondary-role-secondary: var(--sys-primitive-color-collection-color-palette-secondary-secondary-40);
  --sys-color-roles-roles-secondary-role-on-secondary: var(--sys-primitive-color-collection-color-palette-secondary-secondary-100);
  --sys-color-roles-roles-secondary-role-secondary-container: var(--sys-primitive-color-collection-color-palette-secondary-secondary-90);
  --sys-color-roles-roles-secondary-role-on-secondary-container-color: var(--sys-primitive-color-collection-color-palette-secondary-secondary-30);
  --sys-color-roles-roles-secondary-role-secondary-fixed: var(--sys-primitive-color-collection-color-palette-secondary-secondary-90);
  --sys-color-roles-roles-secondary-role-secondary-fixed-dim: var(--sys-primitive-color-collection-color-palette-secondary-secondary-80);
  --sys-color-roles-roles-secondary-role-on-secondary-fixed: var(--sys-primitive-color-collection-color-palette-secondary-secondary-10);
  --sys-color-roles-roles-secondary-role-on-secondary-fixed-variant: var(--sys-primitive-color-collection-color-palette-secondary-secondary-30);
  --sys-color-roles-roles-tertiary-role-tertiary: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-30);
  --sys-color-roles-roles-tertiary-role-on-tertiary: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-100);
  --sys-color-roles-roles-tertiary-role-tertiary-container: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-90);
  --sys-color-roles-roles-tertiary-role-on-tertiary-container: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-10);
  --sys-color-roles-roles-tertiary-role-tertiary-fixed: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-90);
  --sys-color-roles-roles-tertiary-role-tertiary-fixed-dim: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-80);
  --sys-color-roles-roles-tertiary-role-on-tertiary-fixed: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-10);
  --sys-color-roles-roles-tertiary-role-on-tertiary-fixed-variant: var(--sys-primitive-color-collection-color-palette-tertiary-tertiary-30);
  --sys-color-roles-roles-error-error: var(--sys-primitive-color-collection-color-palette-error-error-30);
  --sys-color-roles-roles-error-on-error: var(--sys-primitive-color-collection-color-palette-error-error-100);
  --sys-color-roles-roles-error-error-container: var(--sys-primitive-color-collection-color-palette-error-error-90);
  --sys-color-roles-roles-error-on-error-container: var(--sys-primitive-color-collection-color-palette-error-error-20);
  --sys-color-roles-roles-neutral-surface: var(--sys-primitive-color-collection-color-palette-neutral-neutral-98);
  --sys-color-roles-roles-neutral-on-surface: var(--sys-primitive-color-collection-color-palette-neutral-neutral-10);
  --sys-color-roles-roles-neutral-surface-dim: var(--sys-primitive-color-collection-color-palette-neutral-neutral-80);
  --sys-color-roles-roles-neutral-surface-bright: var(--sys-primitive-color-collection-color-palette-neutral-neutral-99);
  --sys-color-roles-roles-neutral-inverse-surface: var(--sys-primitive-color-collection-color-palette-neutral-neural-20);
  --sys-color-roles-roles-neutral-on-inverse-surface: var(--sys-primitive-color-collection-color-palette-neutral-neutral-95);
  --sys-color-roles-roles-neutral-surface-container-lowest: var(--sys-primitive-color-collection-color-palette-neutral-neutral-100);
  --sys-color-roles-roles-neutral-surface-container-low: var(--sys-primitive-color-collection-color-palette-neutral-neutral-98);
  --sys-color-roles-roles-neutral-surface-container-high: var(--sys-primitive-color-collection-color-palette-neutral-neutral-90);
  --sys-color-roles-roles-neutral-surface-container-highest: var(--sys-primitive-color-collection-color-palette-neutral-neutral-90);
  --sys-color-roles-roles-neutral-surface-container: var(--sys-primitive-color-collection-color-palette-neutral-neutral-95);
  --sys-color-roles-roles-neutral-variant-surface-variant: var(--sys-primitive-color-collection-color-palette-neutral-v-neutral-v-90);
  --sys-color-roles-roles-neutral-variant-on-surface-variant: var(--sys-primitive-color-collection-color-palette-neutral-v-neutral-v-30);
  --sys-color-roles-roles-neutral-variant-outline: var(--sys-primitive-color-collection-color-palette-neutral-v-neutral-v-50);
  --sys-color-roles-roles-neutral-variant-outline-variant: var(--sys-primitive-color-collection-color-palette-neutral-v-neutral-v-80);
  --sys-color-roles-color: #ffffffff;
  --sys-typography-display-display-large-font-size: 60;
  --sys-typography-display-display-large-text-decoration: none;
  --sys-typography-display-display-large-font-family: Inter;
  --sys-typography-display-display-large-font-weight: 600;
  --sys-typography-display-display-large-font-style: normal;
  --sys-typography-display-display-large-font-stretch: normal;
  --sys-typography-display-display-large-letter-spacing: -2.4;
  --sys-typography-display-display-large-line-height: 72;
  --sys-typography-display-display-large-paragraph-indent: 0;
  --sys-typography-display-display-large-paragraph-spacing: 0;
  --sys-typography-display-display-large-text-case: none;
  --sys-typography-display-display-medium-font-size: 45;
  --sys-typography-display-display-medium-text-decoration: none;
  --sys-typography-display-display-medium-font-family: Inter;
  --sys-typography-display-display-medium-font-weight: 600;
  --sys-typography-display-display-medium-font-style: normal;
  --sys-typography-display-display-medium-font-stretch: normal;
  --sys-typography-display-display-medium-letter-spacing: -1.8;
  --sys-typography-display-display-medium-line-height: 54;
  --sys-typography-display-display-medium-paragraph-indent: 0;
  --sys-typography-display-display-medium-paragraph-spacing: 0;
  --sys-typography-display-display-medium-text-case: none;
  --sys-typography-display-display-small-font-size: 36;
  --sys-typography-display-display-small-text-decoration: none;
  --sys-typography-display-display-small-font-family: Inter;
  --sys-typography-display-display-small-font-weight: 600;
  --sys-typography-display-display-small-font-style: normal;
  --sys-typography-display-display-small-font-stretch: normal;
  --sys-typography-display-display-small-letter-spacing: -1.44;
  --sys-typography-display-display-small-line-height: 44;
  --sys-typography-display-display-small-paragraph-indent: 0;
  --sys-typography-display-display-small-paragraph-spacing: 0;
  --sys-typography-display-display-small-text-case: none;
  --sys-typography-headline-headline-large-font-size: 32;
  --sys-typography-headline-headline-large-text-decoration: none;
  --sys-typography-headline-headline-large-font-family: Inter;
  --sys-typography-headline-headline-large-font-weight: 600;
  --sys-typography-headline-headline-large-font-style: normal;
  --sys-typography-headline-headline-large-font-stretch: normal;
  --sys-typography-headline-headline-large-letter-spacing: -0.48;
  --sys-typography-headline-headline-large-line-height: 40;
  --sys-typography-headline-headline-large-paragraph-indent: 0;
  --sys-typography-headline-headline-large-paragraph-spacing: 0;
  --sys-typography-headline-headline-large-text-case: none;
  --sys-typography-headline-headline-medium-font-size: 28;
  --sys-typography-headline-headline-medium-text-decoration: none;
  --sys-typography-headline-headline-medium-font-family: Inter;
  --sys-typography-headline-headline-medium-font-weight: 600;
  --sys-typography-headline-headline-medium-font-style: normal;
  --sys-typography-headline-headline-medium-font-stretch: normal;
  --sys-typography-headline-headline-medium-letter-spacing: -0.28;
  --sys-typography-headline-headline-medium-line-height: 34;
  --sys-typography-headline-headline-medium-paragraph-indent: 0;
  --sys-typography-headline-headline-medium-paragraph-spacing: 0;
  --sys-typography-headline-headline-medium-text-case: none;
  --sys-typography-headline-headline-small-font-size: 24;
  --sys-typography-headline-headline-small-text-decoration: none;
  --sys-typography-headline-headline-small-font-family: Inter;
  --sys-typography-headline-headline-small-font-weight: 600;
  --sys-typography-headline-headline-small-font-style: normal;
  --sys-typography-headline-headline-small-font-stretch: normal;
  --sys-typography-headline-headline-small-letter-spacing: -0.24;
  --sys-typography-headline-headline-small-line-height: 30;
  --sys-typography-headline-headline-small-paragraph-indent: 0;
  --sys-typography-headline-headline-small-paragraph-spacing: 0;
  --sys-typography-headline-headline-small-text-case: none;
  --sys-typography-title-title-large-font-size: 22;
  --sys-typography-title-title-large-text-decoration: none;
  --sys-typography-title-title-large-font-family: Inter;
  --sys-typography-title-title-large-font-weight: 600;
  --sys-typography-title-title-large-font-style: normal;
  --sys-typography-title-title-large-font-stretch: normal;
  --sys-typography-title-title-large-letter-spacing: -0.11;
  --sys-typography-title-title-large-line-height: 28;
  --sys-typography-title-title-large-paragraph-indent: 0;
  --sys-typography-title-title-large-paragraph-spacing: 0;
  --sys-typography-title-title-large-text-case: none;
  --sys-typography-title-tile-medium-font-size: 16;
  --sys-typography-title-tile-medium-text-decoration: none;
  --sys-typography-title-tile-medium-font-family: Inter;
  --sys-typography-title-tile-medium-font-weight: 600;
  --sys-typography-title-tile-medium-font-style: normal;
  --sys-typography-title-tile-medium-font-stretch: normal;
  --sys-typography-title-tile-medium-letter-spacing: -0.04;
  --sys-typography-title-tile-medium-line-height: 24;
  --sys-typography-title-tile-medium-paragraph-indent: 0;
  --sys-typography-title-tile-medium-paragraph-spacing: 0;
  --sys-typography-title-tile-medium-text-case: none;
  --sys-typography-title-title-small-font-size: 14;
  --sys-typography-title-title-small-text-decoration: none;
  --sys-typography-title-title-small-font-family: Inter;
  --sys-typography-title-title-small-font-weight: 500;
  --sys-typography-title-title-small-font-style: normal;
  --sys-typography-title-title-small-font-stretch: normal;
  --sys-typography-title-title-small-letter-spacing: -0.07;
  --sys-typography-title-title-small-line-height: 20;
  --sys-typography-title-title-small-paragraph-indent: 0;
  --sys-typography-title-title-small-paragraph-spacing: 0;
  --sys-typography-title-title-small-text-case: none;
  --sys-typography-body-body-large-font-size: 16;
  --sys-typography-body-body-large-text-decoration: none;
  --sys-typography-body-body-large-font-family: Inter;
  --sys-typography-body-body-large-font-weight: 500;
  --sys-typography-body-body-large-font-style: normal;
  --sys-typography-body-body-large-font-stretch: normal;
  --sys-typography-body-body-large-letter-spacing: -0.152;
  --sys-typography-body-body-large-line-height: 24;
  --sys-typography-body-body-large-paragraph-indent: 0;
  --sys-typography-body-body-large-paragraph-spacing: 0;
  --sys-typography-body-body-large-text-case: none;
  --sys-typography-body-body-medium-font-size: 14;
  --sys-typography-body-body-medium-text-decoration: none;
  --sys-typography-body-body-medium-font-family: Inter;
  --sys-typography-body-body-medium-font-weight: 500;
  --sys-typography-body-body-medium-font-style: normal;
  --sys-typography-body-body-medium-font-stretch: normal;
  --sys-typography-body-body-medium-letter-spacing: 0;
  --sys-typography-body-body-medium-line-height: 20;
  --sys-typography-body-body-medium-paragraph-indent: 0;
  --sys-typography-body-body-medium-paragraph-spacing: 0;
  --sys-typography-body-body-medium-text-case: none;
  --sys-typography-body-body-small-font-size: 12;
  --sys-typography-body-body-small-text-decoration: none;
  --sys-typography-body-body-small-font-family: Inter;
  --sys-typography-body-body-small-font-weight: 500;
  --sys-typography-body-body-small-font-style: normal;
  --sys-typography-body-body-small-font-stretch: normal;
  --sys-typography-body-body-small-letter-spacing: -0.096;
  --sys-typography-body-body-small-line-height: 16;
  --sys-typography-body-body-small-paragraph-indent: 0;
  --sys-typography-body-body-small-paragraph-spacing: 0;
  --sys-typography-body-body-small-text-case: none;
  --sys-typography-label-label-large-font-size: 14;
  --sys-typography-label-label-large-text-decoration: none;
  --sys-typography-label-label-large-font-family: Inter;
  --sys-typography-label-label-large-font-weight: 500;
  --sys-typography-label-label-large-font-style: normal;
  --sys-typography-label-label-large-font-stretch: normal;
  --sys-typography-label-label-large-letter-spacing: -0.119;
  --sys-typography-label-label-large-line-height: 20;
  --sys-typography-label-label-large-paragraph-indent: 0;
  --sys-typography-label-label-large-paragraph-spacing: 0;
  --sys-typography-label-label-large-text-case: none;
  --sys-typography-label-label-medium-font-size: 12;
  --sys-typography-label-label-medium-text-decoration: none;
  --sys-typography-label-label-medium-font-family: Inter;
  --sys-typography-label-label-medium-font-weight: 500;
  --sys-typography-label-label-medium-font-style: normal;
  --sys-typography-label-label-medium-font-stretch: normal;
  --sys-typography-label-label-medium-letter-spacing: -0.06;
  --sys-typography-label-label-medium-line-height: 16;
  --sys-typography-label-label-medium-paragraph-indent: 0;
  --sys-typography-label-label-medium-paragraph-spacing: 0;
  --sys-typography-label-label-medium-text-case: none;
  --sys-typography-label-label-small-font-size: 11;
  --sys-typography-label-label-small-text-decoration: none;
  --sys-typography-label-label-small-font-family: Inter;
  --sys-typography-label-label-small-font-weight: 500;
  --sys-typography-label-label-small-font-style: normal;
  --sys-typography-label-label-small-font-stretch: normal;
  --sys-typography-label-label-small-letter-spacing: -0.055;
  --sys-typography-label-label-small-line-height: 16;
  --sys-typography-label-label-small-paragraph-indent: 0;
  --sys-typography-label-label-small-paragraph-spacing: 0;
  --sys-typography-label-label-small-text-case: none;
}
